.realizar-transferencia {
    position:absolute;
    top: 120px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000; 
    background: linear-gradient(to top, rgba(21, 1, 53, 0.781), rgba(6, 2, 46, 0.897));
    backdrop-filter: blur(3px);
    padding: 5px;
    border: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.user{
    width: 150px; 
    height: 3px; 
    font-size: 13px; 
    padding: 5px 10px; 
    margin: 20px 5px; 
  }